*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pyright, mypy
.pyright/
.mypy_cache/

# VS Code settings
.vscode/

# PyCharm
.idea/

# PyRevit
.pyrevit/

# macOS
.DS_Store

